<section class="project-page">
    <div class="container">
        <h1 class="project-page__title">Project Gallery</h1>
        <p class="project-page__subtitle">Click on an image to view it in full size</p>

        <div class="project-gallery">
            <a href="/img/gallery/g1.jpg" class="project-gallery__item" data-fancybox="gallery">
                <img src="/img/gallery/g1.jpg" alt="Event photo" />
            </a>
            <a href="/img/gallery/g2.jpg" class="project-gallery__item" data-fancybox="gallery">
                <img src="/img/gallery/g2.jpg" alt="Event photo" />
            </a>
            <a href="/img/gallery/g3.jpg" class="project-gallery__item" data-fancybox="gallery">
                <img src="/img/gallery/g3.jpg" alt="Event photo" />
            </a>
            <a href="/img/gallery/g4.jpg" class="project-gallery__item" data-fancybox="gallery">
                <img src="/img/gallery/g4.jpg" alt="Event photo" />
            </a>
            <a href="/img/gallery/g5.jpg" class="project-gallery__item" data-fancybox="gallery">
                <img src="/img/gallery/g5.jpg" alt="Event photo" />
            </a>
            <a href="/img/gallery/g6.jpg" class="project-gallery__item" data-fancybox="gallery">
                <img src="/img/gallery/g6.jpg" alt="Event photo" />
            </a>
        </div>
    </div>
</section>
