$mainFont: "Montserrat", sans-serif;
$titleFont: "Syne", sans-serif;

// Brandbook colors
$gold: #D4AF37;
$darkCherry: #3B0A0A;
$darkGraphite: #1A1A1A;
$graphite: #333333;
$white: #FFFFFF;
$black: #000000;
$bgDark: #04000A;
$accent: #F9CF8A;
$accentHover: #b8942a;

$blic: #BD9E6B;